[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = IN
ST  = Delhi
L   = New Delhi
O   = DevOps Ninja Inc 
OU  = devops
CN  = vault.devopsninja.lan

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 127.0.0.1
DNS.1 = vault.devopsninja.lan
